.track {
    display: flex;
    gap: 20px;
    align-items: flex-end;
}

.album_cover {
    border-radius: 13px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    width: 75px;
    height: 75px;
}

.track:not(:last-child) .album_cover {
    margin-bottom: 10px;
}

.track_info {
    font-size: 18px;
}

.track:not(:last-child) .track_info {
    margin-bottom: 10px;
}

.track_header {
    font-size: 18px;
}

.track_info_sub {
    color: #EAEAF1B3;
    font-size: 16px;
}