.skeleton_track {
    display: flex;
    gap: 20px;
    align-items: flex-end;
}

.skeleton_image {
    width: 75px;
    height: 75px;
    border-radius: 13px;
    background: rgba(255, 255, 255, 0.2);
}

.skeleton_track:not(:last-child) .skeleton_image {
    margin-bottom: 10px;
}

.skeleton_track:not(:last-child) .skeleton_line_2 {
    margin-bottom: 15px;
}

.skeleton_info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.skeleton_header {
    height: 17px;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.2);
    width: 40%;
    margin-bottom: 1px;
}

.skeleton_line {
    height: 17px;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.2);
    margin-bottom: 1px;
}

.skeleton_line_1 {
    width: 25%;
}

.skeleton_line_2 {
    width: 50%;

}

.music_list {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}