@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.content {
  backdrop-filter: blur(200px);
  background: rgba(48, 47, 47, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 45px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  max-width: 800px;
  margin: 10px auto 10px auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
  padding: 20px;
  z-index: 10;
  height: 95vh;
  overflow-y: scroll;

  /* Remove scrollbar from Firefox & Edge browsers*/
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}

.dual_column {
  display: flex;
  gap: 32px;
}

@media (max-width: 600px) {
  .dual_column {
    flex-direction: column;
  }
}

@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}
