.card {
    backdrop-filter: blur(80px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 24px;
    border-radius: 30px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    text-align: left;
    color: #ffffff;
    background: rgba(241, 0, 0, 0.15);
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    z-index: 99;
}

.card_title {
    font-size: 32px;
    opacity: 1;
    margin: 0 0 8px 0;
}

.card_body {
    font-size: 18px;
    line-height: 1.4;
}
