.page {
  /*height: 100%;*/
}

.content_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  backdrop-filter: blur(200px);
  background: rgba(48, 47, 47, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 45px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  max-width: 800px;
  margin: 10px auto 10px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  grid-row-start: 2;
  padding: 20px;
  z-index: 10;
  /*height: 95dvh;*/
  overflow-y: scroll;

  /* Remove scrollbar from Firefox & Edge browsers*/
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}

.dual_column {
  display: flex;
  gap: 20px;
}

@media (max-width: 600px) {
  .dual_column {
    flex-direction: column;
  }

  .content {
    margin-bottom: 65px;
  }

  .content_wrapper {
    display: flex;

    align-items: center;
    justify-content: center;
  }
}

@media (max-height: 1070px) {
  .content {
    /*height: 95dvh;*/
    gap: 10px;
  }

  .dual_column {
    gap: 10px;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 10px;
    /*padding-bottom: 32px;*/
  }

  .content {
    padding: 10px;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}