.card {
    backdrop-filter: blur(80px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 24px;
    border-radius: 30px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    text-align: left;
    color: #ffffff;
    max-width: 800px;
    margin: 0;
    background: rgba(241, 0, 0, 0.15);
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    z-index: 99;
}

.card_title {
    font-size: 32px;
    opacity: 1;
}

.job_title {}

.job_dates {
    color: #EAEAF1B3;
    font-size: 16px;
}