.particles_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    z-index: 3;
    pointer-events: none;
    min-height: 100vh;
    height: 100dvh;
}

.particle {
    position: fixed;
    background: white;
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
    z-index: 3;
}